<p>
  <mat-toolbar >
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon" 
    >
      <mat-icon >store</mat-icon>
    </button>
    <span class="fw-bold">Shopping Store</span>
    <span class="example-spacer"></span>

    <button
      mat-icon-button *ngIf="role"
      class="example-icon"
      aria-label="Example icon-button with share icon"
      routerLink="/lazy/home"
    >
  
      <mat-icon>home</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      routerLink="/lazy/cart/{{userId}}" *ngIf="role"
    > 
      <mat-icon > shopping_cart</mat-icon>
    </button>
  
    <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="example-icon favorite-icon"
  >
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu"  >
    <div>
      <button *ngIf="role" mat-menu-item  (click)="logout()">Logout</button>
      <button *ngIf="role" mat-menu-item routerLink="/lazy/change_password">Change Password</button>
      <button  *ngIf="role" mat-menu-item routerLink="/lazy/checkout">CheckOut</button>
      <button *ngIf="!role" mat-menu-item routerLink="/create-account">Sign up</button>
  
    </div>
  </mat-menu>
  <button *ngIf="role"
  mat-icon-button
  class="example-icon"
  aria-label="Example icon-button with share icon"
  routerLink="/lazy/getUsers"
> 
  <mat-icon *ngIf="show">accessibility</mat-icon>
</button>

<button *ngIf="role"
mat-icon-button
class="example-icon"
aria-label="Example icon-button with share icon"
routerLink="/lazy/getProducts"
> 
<mat-icon *ngIf="show">shop</mat-icon>
</button>
  </mat-toolbar>
</p>
 