.home-div{
    background-color:#cfdce2;
    height: 300px;
    
}
.colr-h{
    color: #456879;
}
.card-btn{
    color:#F8F9FA !important;
    background-color: #456879;
    border-radius: 8px;
}
.card-text{
    color:  #456879;
}