<div class="container">
  <div class="alert alert-primary"*ngIf="message" role="alert">
    This is a primary alert—check it out!
  </div>
    <div class="form-div">
      <h2 class="text-center"><strong>Forgot Password</strong></h2>
      <hr>

            <form class="login_form" [formGroup]="forget_password_form">
      
                <mat-form-field appearance="outline" class="my-inputs">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" formControlName="email" />
                  <mat-error *ngIf="forget_password_form.hasError('required','email')">Email is required</mat-error>
          
                </mat-form-field>
             
                <button mat-button (click)="verify_email()">Continue</button>
                <div class="d-flex justify-content-between">

                <span></span>

                <button class="myBtn" (click)="goBack()">Go Back</button>

                <!-- <a href="/lazy/change_password">Go Back</a> -->
                </div>
              </form>