<div class="container my-5">
    <div class="my-3 d-flex justify-content-between" >
      <div>
        <h1>Registered Users</h1>

      </div>
      <div><button mat-raised-button color="primary" routerLink="/addAdmin">Add Admin</button></div>
    </div>
    <hr class="mb-4">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="no.">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell  *matCellDef="let element; let i =index"> {{i+1}} </td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element"> 
                <button
                mat-icon-button
                class="example-icon"
                aria-label="Example icon-button with share icon"
                (click)="deleteUser(element.id)"
              > 
                <mat-icon color="accent">delete</mat-icon>
              </button>
              <button
              mat-icon-button
              class="example-icon"
              aria-label="Example icon-button with share icon"
              routerLink="/update/{{element.id}}"
            > 
              <mat-icon color="primary" >edit</mat-icon>
            </button></td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
</div>

  