<!-- <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field> -->
  <div class="container">
   
   
    <div class="form-div">
      <div>
        <a  [class.active]="switchLang=='de'" (click)="selectedLang('de')"> DE</a>
        <a  [class.active]="switchLang=='en'" (click)="selectedLang('en')"> EN  </a>
      </div>
      <h2 class="text-center"><strong  >{{ 'test.text' | translate}}</strong></h2>
      <form class="login_form" [formGroup]="testForm">
        <mat-form-field appearance="outline" class="my-inputs">
          <mat-label >{{ 'test.email' | translate}}</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error  *ngIf="testForm.hasError('required','email')">{{ 'test.email_error' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="my-inputs">
          <mat-label >{{ 'test.password' | translate}}</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error  *ngIf="testForm.hasError('required','password')">{{ 'test.password_error' | translate}}</mat-error>
  
        </mat-form-field>
     
        <button mat-button  >{{ 'test.login' | translate}}</button>
      </form>
      <div class="smart-div">
        <a routerLink="/create-account" >{{ 'test.createAccount' | translate}}</a>
        <a routerLink="/forget_password" >{{ 'test.forgetPassword' | translate}}</a>
      </div>
    </div>
  </div>
  
<!-- File upload input
    <input type="file" name="file" (change)="handleFileInput($event)">
    <button (click)="uploadFile()">Upload</button>
  </div> -->
<!-- <img src="/nodeBackend/uploads/{{image}}"> -->
