

  <div class="container">
   
    <div class="form-div">
      <h2 class="text-center"><strong>Change Password</strong></h2>
      <hr>
      <mat-stepper linear  #stepper>

        <mat-step [stepControl]="Verify_password_Form">
            <form class="login_form" [formGroup]="Verify_password_Form">
      
                <mat-form-field appearance="outline" class="my-inputs">
                  <mat-label>Current Password</mat-label>
                  <input matInput type="password" formControlName="current_password" />
                  <mat-error *ngIf="Verify_password_Form.hasError('required','password')">Current Password is required</mat-error>
          
                </mat-form-field>
             
                <button mat-button (click)="verify_password()">Continue</button>
              </form>
        </mat-step>
        <mat-step [stepControl]="change_password_form" *ngIf="nextStep">
            <form class="login_form" [formGroup]="change_password_form">
      
                <mat-form-field appearance="outline" class="my-inputs">
                  <mat-label>New Password</mat-label>
                  <input matInput type="password" formControlName="new_password" />
                  <mat-error *ngIf="change_password_form.hasError('required','new_password')">New Password is required</mat-error>
                  <mat-error *ngIf="change_password_form.hasError('pattern','new_password')">Password contain min 8 ,1 uppercase,1 lowercase ,digits & symbols</mat-error>
                  
                </mat-form-field>
                <mat-form-field appearance="outline" class="my-inputs">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirm_password" />
                    <mat-error *ngIf="change_password_form.hasError('pattern','confirm_password')">Confirm Password is required</mat-error>
            
                  </mat-form-field>
             
                <button mat-button (click)="changePassword()">Change</button>
              </form>
        </mat-step>

      </mat-stepper>
   
  
   
      <div class="smart-div">
        <a class="my-a" (click)="goBack()">Go Back</a>
      <a routerLink="/forget_password">Forgot password?</a>
        
      </div>
    </div>
  </div>
  