/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-mdc-snack-bar-container {
    &.red-snackbar {
      --mdc-snackbar-container-color: #e60000!important;
      --mat-mdc-snack-bar-button-color: white!important;
      --mdc-snackbar-supporting-text-color: white !important;
    }
  }
  .mat-mdc-snack-bar-container {
    &.blue-snackbar {
      --mdc-snackbar-container-color:#3F51B5!important;
      --mat-mdc-snack-bar-button-color: white!important;
      --mdc-snackbar-supporting-text-color: white !important;
    }
  }
  .mat-mdc-snack-bar-container {
    &.green-snackbar {
      --mdc-snackbar-container-color: #B3C939!important;
      --mat-mdc-snack-bar-button-color: black!important;
      --mdc-snackbar-supporting-text-color: black !important;
    }
  }
  .mat-mdc-snack-bar-container {
    &.orange-snackbar {
      --mdc-snackbar-container-color: #F78022!important;
      --mat-mdc-snack-bar-button-color: black!important;
      --mdc-snackbar-supporting-text-color: white !important;
    }
  }
  .color-fav{
    color:#456879;
  }
  .bgcolor-fav{
    background-color:#456879 ;
    border-radius: 8px;
  }
  body{
    background-image: url(../src/assets/PICTURES/white.avif);
height: 100%;
width: 100%;
  opacity: 1;
  /* background-color:rgb(238, 236, 236); */
  /* filter: blur(2px); */
/* overflow: hidden;
z-index: -1; */

  
}