/* .login_form{ */
    /* width: 600px; */
/* } */
.my-inputs{
    width:450px
}
.form-div{
    border: 1px solid grey;
    border-radius: 5px;
    width: 550px;
    margin: 100px;
    padding: 20px;
    
}
.my-a{
    cursor:pointer;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  
button{
    width: 450px;
    background-color: #3F51B5;
    color: white !important;
}
.smart-div{
    display: flex;
    justify-content: space-between;
    width:450px
}
a{
    text-decoration: none;
    margin: 6px 0;
}