<!-- <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field> -->
  <div class="container">
   
    <div class="form-div">
      <h2 class="text-center"><strong>Reset Password</strong></h2>
      <form class="login_form" [formGroup]="reset_password_form">
          <input matInput type="text" formControlName="token" hidden />
        <mat-form-field appearance="outline" class="my-inputs">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="new_password" />
          <mat-error *ngIf="reset_password_form.hasError('required','password')">Password is required</mat-error>
  
        </mat-form-field>
        <mat-form-field appearance="outline" class="my-inputs">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirm_password" />
            <mat-error *ngIf="reset_password_form.hasError('required','confirm_password')">This field is required</mat-error>
    
          </mat-form-field>
     
        <button mat-button (click)="reset()">Reset Password</button>
      </form>
      <div class="smart-div">
        <a routerLink="/create-account">Create Account</a>
        <a routerLink="/">Go to login Page</a>
      </div>
    </div>
  </div>
  